<div class="event">
    <%= link_to event do %>
        <h3><%= event.title %></h3>
    <%end%>
    <p>Created by: <%= get_event_creator(event.user_id) %></p>
    <p><%= event.description%></p>
</div>